#cloud-config
packages:
  # needed to fetch licences
  - awscli
  - htop
  - jq
  - libgtk2.0-0
  - libpam-systemd
  - libxext6
  - libxi6
  - libxrender1
  - libxtst6
  - python3-pip
  - unzip
  - xvfb
  - xmlstarlet
  - net-tools
  - zip
